## 1. Introduction
### 1.1. Dataset Overview

In [2]:
import numpy as np
import pandas as pd

In [3]:
train_df = pd.read_csv("../data/raw/train.csv")

In [4]:
print(f"# rows:      {train_df.shape[0]}")
print(f"# columns:   {train_df.shape[1]}")
train_df.head(10)

# rows:      230130
# columns:   6

   id        date country              store             product  num_sold
0   0  2010-01-01  Canada  Discount Stickers   Holographic Goose       NaN
1   1  2010-01-01  Canada  Discount Stickers              Kaggle     973.0
2   2  2010-01-01  Canada  Discount Stickers        Kaggle Tiers     906.0
3   3  2010-01-01  Canada  Discount Stickers            Kerneler     423.0
4   4  2010-01-01  Canada  Discount Stickers  Kerneler Dark Mode     491.0
5   5  2010-01-01  Canada  Stickers for Less   Holographic Goose     300.0
6   6  2010-01-01  Canada  Stickers for Less              Kaggle    1837.0
7   7  2010-01-01  Canada  Stickers for Less        Kaggle Tiers    1659.0
8   8  2010-01-01  Canada  Stickers for Less            Kerneler     807.0
9   9  2010-01-01  Canada  Stickers for Less  Kerneler Dark Mode     940.0

In [5]:
train_df.tail(10)

,id,date,country,store,product,num_sold
230120,230120,2016-12-31,Singapore,Stickers for Less,Holographic Goose,384.0
230121,230121,2016-12-31,Singapore,Stickers for Less,Kaggle,2380.0
230122,230122,2016-12-31,Singapore,Stickers for Less,Kaggle Tiers,2103.0
230123,230123,2016-12-31,Singapore,Stickers for Less,Kerneler,1052.0
230124,230124,2016-12-31,Singapore,Stickers for Less,Kerneler Dark Mode,1312.0
230125,230125,2016-12-31,Singapore,Premium Sticker Mart,Holographic Goose,466.0
230126,230126,2016-12-31,Singapore,Premium Sticker Mart,Kaggle,2907.0
230127,230127,2016-12-31,Singapore,Premium Sticker Mart,Kaggle Tiers,2299.0
230128,230128,2016-12-31,Singapore,Premium Sticker Mart,Kerneler,1242.0
230129,230129,2016-12-31,Singapore,Premium Sticker Mart,Kerneler Dark Mode,1622.0

- Historical Sales
- Database from 01/01/2010 - 31/12/2016
- Predictions for future sales 2017, 2018, 2019 ...

In [29]:
train_df.dtypes

id            int64
date         object
country      object
store        object
product      object
num_sold    float64
dtype: object

## 2. Data Exploration
### 2.1. Categorical Variables

In [34]:
countries = train_df["country"].unique().tolist()
stores = train_df["store"].unique().tolist()
products = train_df["product"].unique().tolist()

print(f"Countries: {countries}")
print(f"Stores: {stores}")
print(f"Products: {products}")

Countries: ['Canada', 'Finland', 'Italy', 'Kenya', 'Norway', 'Singapore']
Stores: ['Discount Stickers', 'Stickers for Less', 'Premium Sticker Mart']
Products: ['Holographic Goose', 'Kaggle', 'Kaggle Tiers', 'Kerneler', 'Kerneler Dark Mode']

### 2.2. Missing and Null Values

In [21]:
train_df.isnull().sum()

id             0
date           0
country        0
store          0
product        0
num_sold    8871
dtype: int64

In [36]:
num_sold_null = train_df.isnull().sum()["num_sold"]
num_sold_total = train_df.shape[0]
print(f"Percentage of null number sold products: {num_sold_null*100/num_sold_total:.2f} %")

Percentage of null number sold products: 3.85 %

### 2.2. Outlier Detection